footer {
    .imagenes_redes {
        display: flex;
        justify-content: center;
        margin: 10px;

        div {
            a {
                img {
                    width: 50px;
                }

            }
        }
    }

    h2 {
        font-size: 15px;
        text-align: center;
        color: grey;
    }
}