footer {
    .imagenes_redes {
        //MIXIN//
        @include flex(flex, center)

        div {
            a {
                img {
                    width: 50px;
                }
            }
        }
    }

    h2 {
        font-size: 15px;
        text-align: center;
        color: grey;
    }
}