header {
    .bg-menu{
        .bg-menu {
            background-color: $color_principal;
        }
        div {
            a {
                img {
                    width: 120px;
                    height: 120px;
                }
            }

            button {
                .navbar-toggler-icon{
                    color: $color_terciario !important;
                }
            }

            div {
                ul {
                    .nav-item a{
                        color: $color_terciario !important;
                        transition: 0.3s;
                        font-size: 20px;
                        &:hover{
                            color: $color_secundario  !important;
                            transform: scale(1.1);
                        }
                    }
                    
                }

                form {
                    .btn-outline-success {
                        background-color: $color_secundario !important;
                        color: white !important;
                        border: white !important;
                            &:hover{
                                background-color: white !important;
                                color: $color_secundario !important;
                                border: $color_secundario !important;
                            }
                        }
                    }
                    
                }
            }
        }
    }